<h3>Account Bills</h3>
<p-button label="Back" icon="pi pi-arrow-left" (onClick)="goBack()"></p-button>

<div>
  Balance: {{ account?.balance }}
</div>

<p-table [value]="billList" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
      <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Paid</th>
          <th>
            <!-- <p-toggleButton [(ngModel)]="unpaidOnly" onLabel="Yes" offLabel="No"></p-toggleButton> -->
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-bill>
      <tr>
          <td>{{ bill.id }}</td>
          <td>{{ bill.billDate }}</td>
          <td>{{ bill.amount }}</td>
          <td>
            {{ bill.paid }}
          </td>
          <td>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="7" class="justify-center">No data found</td>
    </tr>
</ng-template>
</p-table>
