<h3>Property Details</h3>
<p-button label="Back" icon="pi pi-arrow-left" (onClick)="goBack()"></p-button>
<p-button label="Edit" icon="pi pi-pencil" (onClick)="enableEdit()"
  [disabled]="editMode" *ngIf="!editMode"></p-button>
<p-button label="Save" icon="pi pi-save" (onClick)="save()"
  [disabled]="!editMode" *ngIf="editMode"></p-button>
<div>
  <app-autocomplete-field [disabled]="!editMode" title="Pemilik" [(value)]="detail.Pemilik.nama"></app-autocomplete-field>
  <app-text-field [disabled]="!editMode" title="Blok" [(value)]="detail.blok"></app-text-field>
  <app-text-field [disabled]="!editMode" title="No" [(value)]="detail.no"></app-text-field>
  <app-text-field [disabled]="!editMode" title="RT" [(value)]="detail.rt"></app-text-field>
  <app-autocomplete-field [disabled]="!editMode" title="Penagih" [(value)]="detail.Collector.nama"></app-autocomplete-field>
  <!-- <app-text-field title="Komersial" [(value)]="komersial"></app-text-field> -->
</div>
